NAGAD_USER=dummy_nagad_user
NAGAD_PASS=dummy_nagad_pass
NAGAD_URL=https://example.com/nagad/login
NAGAD_HISTORY_API_URL=https://example.com/nagad/api/payment/history
NAGAD_BILLER_SERVICE_NO=1548

# bKash pgw credentials
BKASH_PGW_URL=https://example.com/bkash/login
BKASH_PGW_USER=dummy_bkash_user@example.com
BKASH_PGW_PASS=dummy_bkash_pass
BKASH_DEBUG=true

PREVIOUS_DAYS=1
DATE_FORMAT=%d/%m/%Y

OWN_URL=https://example.com/own
OWN_USER=dummy_own_user
OWN_PASS=dummy_own_pass